{% load i18n static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if gt IE 8]>
<!--> <html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Azyro | We value your waste.</title>
<link rel="shortcut icon" href="assets/images/favicon.ico">
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!--=== Loader Start ======-->
<div id="loader-overlay">
  <div class="loader-wrapper">
    <div class="azyro-pulse"></div>
  </div>
</div>
<!--=== Loader End ======-->

<!--=== Wrapper Start ===-->
<div class="wrapper">

  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">

    <div class="container">
      <!--=== Start Atribute Navigation ===-->
      <div class="attr-nav">
        <ul class="social-media-dark social-top">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-linkedin-square"></a></li>
        </ul>
      </div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="mdi mdi-menu mdi-36px"></i> </button>
        <div class="logo"> <a href="/"> <img class="logo logo-display" src="{% static 'images/azyro-logo-white.png' %}" alt="azyro infratech white logo"> <img class="logo logo-scrolled" src="{% static 'images/azyro-name.png' %}" alt="azyro infratech black logo"></a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
          <li><a class="page-scroll" href="#home">Home</a></li>
          <li><a class="page-scroll" href="#who">Who We Are</a></li>
          <li><a class="page-scroll" href="#services">What We Offer</a></li>
          <li><a class="page-scroll" href="#portfolio">Projects</a></li>
          <li><a class="page-scroll" href="#team">Team</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>
  <!--=== Header End ===-->
  <!--=== Flex Slider Start ===-->
  <section class="pt-0 pb-0" id="home">
    <div class="slider-bg flexslider">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/home-bg-1.jpg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5 hidden-sm hidden-xs">We value your waste</h2>
                <h1 class="white-color text-uppercase font-700"><span class="theme-color">AZYRO</span> INFRATECH</h1>
                <h3 class="white-color font-400">Delivering complete Integrated Waste Management solutions to our clients</h3>
                <p class="text-center mt-30"><a class="btn btn-white btn-circle btn-animate page-scroll" href="#who"><span>Know more about us <i class="mdi mdi-arrow-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/home-bg-2.jpg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap gradient-overlay-bg">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5">A Digital Marketing &amp;</h2>
                <h1 class="white-color text-uppercase font-700">Design Agency</h1>
                <p class="text-center mt-30"><a class="btn btn-dark btn-circle btn-animate"><span>Learn More <i class="mdi mdi-arrow-right"></i></span></a> <a class="btn btn-outline-white btn-circle">Contact Us</a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 3 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/home-bg-3.jpg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5">Minimal</h2>
                <h1 class="white-color text-uppercase font-700">Clean &amp; Simple</h1>
                <h3 class="white-color font-400">We love the web and the work we do.</h3>
                <p class="text-center mt-30"><a class="btn btn-color btn-circle">See Our Work</a> </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--=== Flex Slider End ===-->

  <!--=== Who We Are Start ===-->
  <section class="first-ico-box white-bg pb-20" id="who">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">We are</span> Azyro</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We value your waste -</h4>

        </div>
      </div>
    </div>
    <section class="white-bg pt-10 pb-10 ">
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-left ">
      <div class="bg-flex-holder bg-flex-cover parallax-effect" style="background-image: url({% static 'images/startup-bg-left.jpg' %});"></div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
        <div class="pb-10">
          <div class=" wow fadeTop text-justify" data-wow-delay="0.3s">
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div class="container-fluid">
      <div class="row mt-30">
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.1s"> <i class="mdi mdi-arrow-compress-all mdi-spin font-50px dark-icon wow spinRightZoom"></i>
          <h4 class="text-uppercase">Reduce</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.2s"> <i class="mdi mdi-sync mdi-spin font-50px dark-icon wow spinLeftZoom"></i>
          <h4 class="text-uppercase">REUSE</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.3s"> <i class="mdi mdi-recycle mdi-spin font-50px dark-icon wow spinRightZoom"></i>
          <h4 class="text-uppercase">RECYCLE</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.4s"> <i class="mdi mdi-spin mdi-backup-restore font-50px dark-icon wow spinLeftZoom"></i>
          <h4 class="text-uppercase">RECOVER</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
      </div>
    </div>
  </section>
  <!--=== Who We Are End ===-->
  <!--=== What We Offer Start ===-->
  <section class=" pb-0" id="services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Services <span class="theme-color">We offer</span></h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Our consulting services cover the wide range of services like development, management, design, drawings and business planning. -</h4>
        </div>
      </div>
    </div>
    <section class="pt-10">
    <div class="col-md-6 col-sm-4 col-md-offset-7 col-sm-offset-5 bg-flex bg-flex-right ">
      <div class="bg-flex-holder bg-flex-cover parallax-effect" style="background-image: url({% static 'images/startup-bg-left.jpg' %});"></div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-7 ">
        <div class="pb-10">
          <div class=" wow fadeTop text-justify" data-wow-delay="0.3s">
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
          </div>
        </div>
      </div>
    </div>
    </section>
  </section>
  <!--=== What We Offer End ===-->

  <!--=== Portfolio Start ===-->
  <section class="white-bg pb-0" id="portfolio">
  	<div class="container-fluid">
    	<div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Projects</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Innovative Works -</h4>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="portfolio-container text-center">
          <ul id="portfolio-filter" class="list-inline filter-transparent wow fadeTop" data-wow-delay="0.1s">
            <li class="active" data-group="all">All</li>
            <li data-group="ongoing">Ongoing</li>
            <li data-group="completed">Completed</li>
          </ul>
          <ul id="portfolio-grid" class="three-column hover-two">
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.1s" data-groups='["all", "print", "branding"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/1.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Business Cards</h3>
                    <a href="single-portfolio.html" class="links">Print Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/1.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.2s" data-groups='["all", "branding", "web"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/2.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Magazine</h3>
                    <a href="single-portfolio.html" class="links">Branding</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/2.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.3s" data-groups='["all", "branding"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/3.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Rabycad CD Design</h3>
                    <a href="single-portfolio.html" class="links">Branding</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/3.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.4s" data-groups='["all", "ongoing"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/4.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Micro Chips</h3>
                    <a href="single-portfolio.html" class="links">Web Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/4.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.5s" data-groups='["all", "design"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/5.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Flyer</h3>
                    <a href="single-portfolio.html" class="links">Print Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/5.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.6s" data-groups='["all", "design", "web"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{% static 'images/portfolio/grid/6.jpg' %}" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Flat Web Design</h3>
                    <a href="single-portfolio.html" class="links">Web Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{% static 'images/portfolio/grid/6.jpg' %}"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
          </ul>
          <a class="btn btn-color btn-circle btn-animate mt-10 mb-10" href="/projects"><span>View all project at once <i class="mdi mdi-arrow-right"></i></span></a>
        </div>
      </div>
    </div>
  </section>
  <!--=== Portfolio End ===-->
  <!--=== Our Team Start ===-->
  <section class="grey-bg" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Meet Our Team</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We Are Stronger -</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.3s">
          <div class="team-member-container gallery-image-hover"> <img src="{% static 'images/team/team-01.jpg' %}" class="img-responsive" alt="team-01">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">David Marks</h4>
                  <p class="member-subtitle">UI/UX Designer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.4s">
          <div class="team-member-container gallery-image-hover"> <img src="{% static 'images/team/team-02.jpg' %}" class="img-responsive" alt="team-02">
            <div class="member-caption dark-overlay">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Lynda Stone</h4>
                  <p class="member-subtitle">Photographer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.5s">
          <div class="team-member-container gallery-image-hover"> <img src="{% static 'images/team/team-03.jpg' %}" class="img-responsive" alt="team-03">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Karl Casey</h4>
                  <p class="member-subtitle">Web Developer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.6s">
          <div class="team-member-container gallery-image-hover"> <img src="{% static 'images/team/team-04.jpg' %}" class="img-responsive" alt="team-04">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Roland Buford</h4>
                  <p class="member-subtitle">CEO/Founder</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
      </div>
    </div>
  </section>
  <!--=== Our Team End ===-->
  <!--=== Clients Start ======-->
  <section class="theme-bg pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h3 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Clients and partners</h3>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Our clients and partners include government’s institutions, top organizations, and corporate sectors. -</h4>
        </div>
        <div id="client-slider" class="owl-carousel">
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/1.png' %}" alt="01"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/2.png' %}" alt="02"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/3.png' %}" alt="03"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/4.png' %}" alt="04"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/5.png' %}" alt="05"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/6.png' %}" alt="06"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/7.png' %}" alt="07"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/8.png' %}" alt="08"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/9.png' %}" alt="09"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="{% static 'images/clients/10.png' %}" alt="10"/> </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Clients End ======-->
  <section class="contact-us white-bg" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Contact Us</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Get in Touch -</h4>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-8">
          <form name="contact-form" id="contact-form" action="http://www.incognitothemes.com/azyro-landing/php/contact.php" method="POST">
            <div class="messages"></div>
            <div class="row">
            	<div class="col-md-6">
                	<div class="form-group wow fadeTop" data-wow-delay="0.1s">
                      <label class="sr-only" for="name">Name</label>
                      <input type="text" name="name" class="form-control" id="name-2" required placeholder="Your Name" data-error="Your Name is Required">
                      <div class="help-block with-errors mt-20"></div>
                    </div>
                </div>
                <div class="col-md-6">
                	<div class="form-group wow fadeTop" data-wow-delay="0.2s">
                      <label class="sr-only" for="email">Email</label>
                      <input type="email" name="email" class="form-control" id="email-2" placeholder="Your Email" required data-error="Please Enter Valid Email">
                      <div class="help-block with-errors mt-20"></div>
                    </div>
                </div>
            </div>
            <div class="form-group wow fadeTop" data-wow-delay="0.3s">
              <label class="sr-only" for="subject">Subject</label>
              <input type="text" name="subject" class="form-control" id="subject-2" placeholder="Your Subject">
            </div>
            <div class="form-group wow fadeTop" data-wow-delay="0.4s">
              <label class="sr-only" for="message">Message</label>
              <textarea name="message" class="form-control" id="message-2" rows="7" placeholder="Your Message" required data-error="Please, Leave us a message"></textarea>
              <div class="help-block with-errors mt-20"></div>
            </div>
            <div class="wow fadeTop" data-wow-delay="0.5s">
            	<button type="submit" name="submit" class="btn btn-color btn-circle">Send Mail</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
        <div class="wow fadeTop" data-wow-delay="0.1s">
          <h3>Postal Location</h3>
          <address>
          PO Box 16122 Toronto Eaton Centre,<br>
          220 The PATH Toronto, ON M5B 2H1, Canada<br>
          <abbr title="Phone">P:</abbr> (+1) 613 555-0105<br>
          <a href="mailto:#">Azyro@example.com</a>
          </address>
         </div>
         <div class="wow fadeTop" data-wow-delay="0.2s">
          <h3>Global Location</h3>
          <address>
          PO Box 16122 Toronto Eaton Centre,<br>
          220 The PATH Toronto, ON M5B 2H1, Canada<br>
          <abbr title="Phone">P:</abbr> (+1) 613 555-0105
          </address>
          </div>
          <div class="wow fadeTop" data-wow-delay="0.3s">
          <h3>Work Timings</h3>
          <p> <span>Mon - Fri: 10am to 7pm</span> <br>
            <span>Sat : 8am to 12pm</span> </p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Contact Us End ======-->

  <!--=== Footer Start ===-->
  <footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text">
              <div class="logo logo-footer"><a href="index.html"> <img class="logo logo-display" src="{% static 'images/azyro-name.png' %}" alt=""></a> </div>
              <p>We’re nuts about improving your business so we ensure that we track results from day one. Sure, we come up with great creative ideas that engage and captivate your customers.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Useful Links</h5>
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact-simple.html">Contact Us</a></li>
                <li><a href="service-simple.html">Our Services</a></li>
                <li><a href="term-condition.html">Terms &amp; Conditions</a></li>
                <li><a href="career.html">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text widget-links">
              <h5 class="widget-title">Contact Us</h5>
              <ul>
                <li> <i class="mdi mdi-map-marker"></i> <a href="#">507, 5th floor, Vipul Trade Centre, Sohna Road, Sector-48, Gurgaon, Haryana.</a> </li>
                <li> <i class="mdi mdi-cellphone"></i> <a href="#">+91 9999 572 812</a> </li>
                <li> <i class="mdi mdi-email"></i> <a href="#">nakul.azyro@gmail.com</a> </li>
                <li> <i class="mdi mdi-web"></i> <a href="#">www.Azyro.in</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><a href="#" class="fa fa-linkedin"></a></li>
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-right">© 2017 Azyro. All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->

  <!--=== GO TO TOP  ===-->
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
  <!--=== GO TO TOP End ===-->

</div>
<!--=== Wrapper End ===-->

<!--=== Javascript Plugins ===-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>
<!--=== Javascript Plugins End ===-->

</body>
</html>
