{% load i18n static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if gt IE 8]>
<!--> <html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Azyro Infratech has been established as a leading consultant in the field of Solid waste management, Sustainability, Renewable Energy, Engineering &Design, Sanitation and wastewater sector." />
<meta name="keywords" content="Azyro Infratech, Solid-waste management Gurgaon, Waste Management, Solid Waste Management, Renewable Energy, India, Sanitation, Recycling Services, Waste Business,
 corporate, government, regulated, Digital, Solid Waste, Plastics Waste, Tetra Waste, Pet Waste, E Waste, Gurugram">
<title>Azyro | We value your waste.</title>
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-127459591-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']); _gaq.push (['_gat._anonymizeIp']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script></head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!--=== Loader Start ======-->
<div id="loader-overlay">
  <div class="loader-wrapper">
    <div class="azyro-pulse"></div>
  </div>
</div>
<!--=== Loader End ======-->

<!--=== Wrapper Start ===-->
<div class="wrapper">

  <!--=== Header Start ===-->
{% block nav %}
{% include "aztech/snippets/navbar.html" %}
{% endblock nav %}
  <!--=== Header End ===-->
{% block maincontent %}

{% endblock maincontent %}

{% include "aztech/snippets/footer.html" %}

  <!--=== GO TO TOP  ===-->
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
  <!--=== GO TO TOP End ===-->

</div>
<!--=== Wrapper End ===-->

<!--=== Javascript Plugins ===-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>
<!--=== Javascript Plugins End ===-->

</body>
</html>
