{% load i18n static %}
  <!--=== Footer Start ===-->
  <footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text">
              <div class="logo logo-footer"><a href="index.html"> <img class="logo logo-display" src="{% static 'images/azyro-name.png' %}" alt=""></a> </div>
              <p>We develop innovative, efficient solutions for waste management that create value for our clients, by using leading-edge technology and the right resources.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Useful Links</h5>
              <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'why' %}">Why hire us?</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 pull-right">
            <div class="widget widget-text widget-links">
              <h5 class="widget-title">Contact Us</h5>
              <ul>
                <li> <i class="mdi mdi-map-marker"></i> <a href="#">507, 5th floor, Vipul Trade Centre, Sohna Road, Sector-48, Gurgaon, Haryana.</a> </li>
                <li> <i class="mdi mdi-cellphone"></i> <a href="#">+91 1244726219</a> </li>
                <li> <i class="mdi mdi-email"></i> <a href="#">info@azyro.in</a> </li>
                <li> <i class="mdi mdi-web"></i> <a href="#">www.azyro.in</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><a href="https://www.linkedin.com/company/azyro_infratech/" class="fa fa-linkedin"></a></li>
              <li><a href="https://www.facebook.com/azyroIn/" class="fa fa-facebook"></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-right">© 2017 Azyro. All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->