{% extends "aztech/layout.html" %}
{% load static %}

{% block maincontent %}
<section class="title-hero-bg about-cover-bg parallax-effect">
<div class="container">
  <div class="page-title text-center white-color">
    <div class="col-sm-8 section-heading">
      <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">We are</span> Azyro</h2>
      <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We value your waste -</h4>
    </div>
  </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>ABOUT US</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
        <p>Azyro Infratech is one of the leading consulting firms in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector.
            We specialize in providing a complete Integrated Waste Management services with the strategy of reducing and recycling waste and target to fulfill our client’s expectations. We expertise in developing and producing engineering designs, drawings & schematic schedules.
            We develop innovative, efficient solutions that create value for our clients, by using leading-edge technology and the right resources.</p>
            <p>Value System:</p>
            <ul>
                <li>We help towards achieving a sustainable economy based on the principle of Zero Waste and empowering our system with regenerating and recovering products for circular economy.</li>
                <li>Our commitment is to use innovative tools, multidisciplinary knowledge, technologies and skills that enable us to step beyond simple interpretation and integrate solutions to build strategies and catalyzing results for our clients.</li>
                <li>Our ownership model empowers us to invest in increasing our knowledge and in technologies, enabling us to share that knowledge – contributing to better outcomes for our clients.</li>
                <li>We value and support each other and maintain an inclusive working environment where teamwork, partnership and relationships matter both internally and externally.</li>
                <li>We work with confidence, flexibility & freedom and are responsible for everything we do.</li>
                <li>We collaborate and build ownership through our work in different practices, across different geographies and multi-dimensional stakeholders.</li>
                <li>Develop our human resources to produce self-motivated team players, who can consistently resolve issues the first time in an assured way.</li>
            </ul>
        </div>

    </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3>MISSION</h3>
        <p class="wow fadeTop" data-wow-delay="0.3s">To deliver the requirement of our client with the most cost effective and innovative products & services.</p>
        </div>
        <div class="col-md-6 text-center">
            <h3>VISION</h3>
            <p class="wow fadeTop" data-wow-delay="0.3s">To be a leader in providing Sustainable Solutions for Environment & related Engineering challenges and work towards building a better community.</p>
        </div>
    </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>OUR GOAL</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <ul>
                <li>To utilize our technological prowess to build a sustainable future.</li>
                <li>Promote profitable and sustainable business activities.</li>
                <li>Maintain balance between environment and development initiatives.</li>
            </ul>
        </div>

    </div>
</div>
</section>
<div class="container-fluid">
  <div class="row mt-30">
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.1s"> <i class="mdi mdi-arrow-compress-all mdi-spin font-50px dark-icon wow spinRightZoom"></i>
      <h4 class="text-uppercase">Reduce</h4>
      <p>Wherever possible, waste reduction is the preferable option.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.2s"> <i class="mdi mdi-sync mdi-spin font-50px dark-icon wow spinLeftZoom"></i>
      <h4 class="text-uppercase">REUSE</h4>
      <p>If waste is produced, every effort should be made to reuse it if practicable.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.3s"> <i class="mdi mdi-recycle mdi-spin font-50px dark-icon wow spinRightZoom"></i>
      <h4 class="text-uppercase">RECYCLE</h4>
      <p>Recycling should only be considered for waste which cannot be reduced or reused.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.4s"> <i class="mdi mdi-spin mdi-backup-restore font-50px dark-icon wow spinLeftZoom"></i>
      <h4 class="text-uppercase">RECOVER</h4>
      <p>Finally, it may be possible to recover materials or energy from waste which cannot be reduced, reused or recycled.</p>
    </div>
  </div>
</div>
{% endblock maincontent %}