{% extends "aztech/layout.html" %}
{% load static %}

{% block maincontent %}
<section class="title-hero-bg about-cover-bg parallax-effect">
<div class="container">
  <div class="page-title text-center white-color">
    <div class="col-sm-8 section-heading">
      <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">We are</span> Azyro</h2>
      <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We value your waste -</h4>
    </div>
  </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>ABOUT US</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
        <p>Azyro Infratech has been established as a leading consultant in the field of Solid waste management, Sustainability, Renewable Energy, Engineering &Design, Sanitation and wastewater sector.
            During his first venture (GreenPencil Engineering Solutions Pvt.Ltd.) in the field of waste management, <b><i>Mr. Nakul Sardana</i>, CEO of Azyro Infratech and Green Pencil Engineering Solutions Pvt. Ltd.</b>,
            realized that there exists great potential in the business sector of waste management if the waste is treated with viable apt solutions involving technical expertise followed by constant monitoring.</p>
        <p>Growing concerns and issues related to the large quantity of waste generation further inspired us to usher in this business sector establishing a stronghold where we are capable of providing of suitable and
            case-specific solutions to our clients making the optimal use of resources available, creating well-defined plans and value services. We take pride to be an organization who is constantly contributing towards
            solving one of the major environmental concerns these days.</p>

        </div>

    </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3>MISSION</h3>
            <i class="mdi mdi-bullseye font-50px dark-icon wow spinRightZoom" style="font-size:60px;"></i>
        <p class="wow fadeTop" data-wow-delay="0.3s">Our mission is to provide innovative and
            technologically advanced solutions to help our clients implement cost-effective
            strategies for waste management. </p>
        </div>
        <div class="col-md-6 text-center">
            <h3>VISION</h3>
            <i class="mdi mdi-eye mdi-spin font-50px dark-icon wow spinRightZoom" style="font-size:60px;"></i>
            <p class="wow fadeTop" data-wow-delay="0.3s">
                Our vision is to help keep our homes, neighbourhood, city and environment clean. If it is waste management, it
                is Azyro Infratech.
            </p>
        </div>
    </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>OUR GOAL</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <ul>
                <li>To utilize our technological prowess to build a sustainable future.</li>
                <li>Promote profitable and sustainable business activities.</li>
                <li>Maintain balance between environment and development initiatives.</li>
            </ul>
        </div>

    </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>DIRECTOR'S NOTE</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <p>Azyro Infratech is one of the first consultation firm dealing solely with Waste Management in India.
                Our focus to solve the waste management issues revolving around sanitation, resource recovery, sustainable
                process, ethical practices, safety, environment impact and clean energy generation. Our motives are aligned
                with the <b>Swachh Bharat Abhiyan</b>, which talks about keeping our neighborhood and environment clean for
                our future generations. We are a technology centric company and offer sustainable and effective solutions to our clients.
                Our team members are young, dynamic and come with rich of experience in waste management backed by excellent academic and
                practical expertise.
            </p>
            <p>Abiding by legal compliances and assuring best economic returns are major tenets on the basis of which we
                formulate our strategies for different kind of clients. Our inputs, suggestions for treating waste
                specific to a project, while being commercially viable has given us an excellent record of client retention.
            </p>
            <p>In sync with the changing scenario, we strongly believe that Indian market of waste management requires exigent
                interventions and expertise to tackle the pressing issue of waste generation thereby assisting our villages and
                cities getting rid of the huge piles of waste which act as the breeding ground of various diseases, along with
                deteriorating the quality of living thus leaving behind the trail of vibrant and clean cities for Indian citizens to cherish.
            </p>
            <br>
            <p>
                <b><i>Nakul Sardana</i></b><br>
                    <i>CEO, Azyro Infratech</i>
            </p>

        </div>

    </div>
</div>
</section>


<div class="container-fluid">
  <div class="row mt-30">
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.1s"> <i class="mdi mdi-arrow-compress-all mdi-spin font-50px dark-icon wow spinRightZoom"></i>
      <h4 class="text-uppercase">Reduce</h4>
      <p>Wherever possible, waste reduction is the preferable option.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.2s"> <i class="mdi mdi-sync mdi-spin font-50px dark-icon wow spinLeftZoom"></i>
      <h4 class="text-uppercase">REUSE</h4>
      <p>If waste is produced, every effort should be made to reuse it if practicable.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.3s"> <i class="mdi mdi-recycle mdi-spin font-50px dark-icon wow spinRightZoom"></i>
      <h4 class="text-uppercase">RECYCLE</h4>
      <p>Recycling should only be considered for waste which cannot be reduced or reused.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs feature-box text-center wow fadeInRight" data-wow-delay="0.4s"> <i class="mdi mdi-spin mdi-backup-restore font-50px dark-icon wow spinLeftZoom"></i>
      <h4 class="text-uppercase">RECOVER</h4>
      <p>Finally, it may be possible to recover materials or energy from waste which cannot be reduced, reused or recycled.</p>
    </div>
  </div>
</div>
{% endblock maincontent %}