{% extends "aztech/layout.html" %}
{% load static %}

{% block maincontent %}
<section class="title-hero-bg about-cover-bg parallax-effect">
<div class="container">
  <div class="page-title text-center white-color">
    <div class="col-sm-8 section-heading">
      <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">Why you</span> need us?</h2>
      <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We value your waste -</h4>
    </div>
  </div>
</div>
</section>

<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>OUR BELIEFS</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <div class="row">
                <h4><b>4R System</b></h4>
                <ul>
                    <li>Reduce - Behavioural change</li>
                    <li>Reuse - Design Up-gradation</li>
                    <li>Recycle – Process Up-gradation</li>
                    <li>Recover - Energy Recovery</li>
                </ul>
                <img class="img-responsive" src="{% static 'images/content/4-R.png' %}" style="max-height:300px;width:auto;">
            </div>
            <div class="row">
                <h4><b> 3Pillars of Sustainability</b></h4>
                <p>The 3 P’s, People, Planet and Profit are critical aspects for sustainability of development. The Social aspect,
                    ‘People’, measure quality of life; the Environmental aspect, ‘Planet’, captures factors related to energy,
                    pollution and emissions; the Economic aspect, ‘Profit’, assess the economic health.
                </p>
                <br>
                <img class="img-responsive" src="{% static 'images/content/3-pillars.png' %}" style="max-height:300px;width:auto;">
            </div>
            <div class="row">
                <h4><b> Circular Economy - Zero Waste Solutions</b></h4>
                <p>Undoubtedly, the growth of linear economy produces faster results leading to adoption by developing countries.
                    Linear economy is not sustainable though and can lead to disastrous results, often ending up in failure and
                    a literal ‘mess’.
                </p>
                <img class="img-responsive" src="{% static 'images/content/circular-economy.png' %}" style="max-height:300px;width:auto;">
                <p>At Azyro, we believe that for the stable growth of India, a circular economy is to be adopted and
                    waste management is a critical part of it.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>OUR VALUES</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <ol>
                <li><i>Maintaining a healthy working environment:</i> An inclusive working environment where individuals support and
                    learn from each other. Meaningful relationships beyond office are cherished.
                </li>
                <li><i>Open mindedness:</i> We believe in diversity and respect opinions and ideas from all stakeholders.
                </li>
                <li><i>Reliability and accountability:</i> We take pride in our work and believe the way to success is to
                    take ownership of everything we do.
                </li>
                <li><i>Adaptability:</i> Freedom and flexibility in workspaces bring out the best in individuals and they
                    are better suited for adapting to the unique projects that we take over.
                </li>
                <li><i>Honesty:</i> We are transparent in our dealings and aim to build trustworthy professional relationships.
                </li>
            </ol>
        </div>
    </div>
</div>
</section>
<section class="white-bg pt-30 pb-10 ">
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>OUR APPROACH</h3>
        </div>
        <div class="col-md-9 wow fadeTop text-justify" data-wow-delay="0.3s">
            <ol>
                <li>We work closely with our clients, initially gathering information about the requirements of the project
                    and client expectations.
                </li>
                <li>We form multidisciplinary teams as per the project requirements.</li>
                <li>We have extensive brainstorming sessions with our clients enabling us to step beyond simple interpretation
                    and get to the depth of situations.
                </li>
                <li>Out-of-the-box thinking helps us solve complex problems with pragmatic and long term solutions.</li>
                <li>We constantly stay updated with the latest technologies in the market and ensure that the they are forwarded
                    to our clients as and when applicable.
                </li>
            </ol>
        </div>
    </div>
</div>
</section>
{% endblock maincontent %}