{% load i18n static %}
  <!--=== Clients Start ======-->
  <section class="theme-bg pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h3 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Clients and partners</h3>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Our clients and partners include government’s institutions, top organizations, and corporate sectors. -</h4>
        </div>
        <div id="client-slider" class="owl-carousel">
          {% for client in clients %}
            <div class="client-logo"> <img class="img-responsive" src="{{client.logo.url}}" alt="{{client.name}}"/> </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--=== Clients End ======-->