{% load i18n static %}
  <!--=== Who We Are Start ===-->
  <section class="first-ico-box white-bg pb-20" id="need">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">Why you</span> Need us?</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We create value from your waste -</h4>
        </div>
      </div>
    </div>
    <section class="white-bg pt-10 pb-10 ">
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-left ">
      <div class="bg-flex-holder bg-flex-cover parallax-effect" style="background-image: url({% static 'images/Azyro-why-need-us-2.jpg' %});"></div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
        <div class="pb-10">
          <div class=" wow fadeTop text-justify" data-wow-delay="0.3s">
            <h3>Current Waste Regulation</h3>
           <p>The  SWM  rules,  2016  emphasizes  source  segregation of waste, a basic  need  for  channelizing  the  waste to wealth by recovery,  reuse  and  recycle. As per the new rules, the bio-degradable waste should be processed, treated and disposed of through composting or bio-methanation within the premises as far as possible and the residual waste shall be given to the waste collectors or agency as directed by the local authority. The SWM Rules, 2016 emphasizes on promotion of waste to energy plants. </p>
            <h3>Adopt Zero waste policy</h3>
            <p>We live in a linear economy where products are designed for the dustbin. Recycling is not a solution, merely a tool to delay the inevitable. Adopting zero waste for a circular economy, where infrastructure, businesses and individuals see the value in the things they use.</p>
            <p>
              Implementing Zero Waste will eliminate all discharges to land, water or air that are a threat to planetary, human, animal or plant health.
            </p>
          </div>
        </div>
       <!--{# <a class="btn btn-color btn-circle btn-animate mt-10 mb-10 wow fadeInUp" data-wow-delay="0.3s" href="{% url 'why' %}"><span>Why you need us?<i class="mdi mdi-arrow-right"></i></span></a>-->
        <!--#}   -->
      </div>
    </div>
  </section>
  </section>
  <!--=== Who We Are End ===-->