{% load i18n static %}
  <!--=== Projects Start ===-->
  <section class="white-bg pb-0" id="projects">
  	<div class="container-fluid">
    	<div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Projects</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Innovative Works -</h4>
        </div>
      </div>
    </div>
    <div class="container">
	<div class="row">
		<div class="table-responsive">
            <table id="main-table" class="table exotic-table table table-fixed">
                <thead>
                    <tr class="text-center">
                        <th>Client</th>
                        <th>Project Name</th>
                        <th>Project Site</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for project in projects %}
                    <tr>
                        <td>{{project.client}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.site}}</td>
                        <td>{{project.status}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
	</div>
    </div>
    </div>
          </section>