{% load i18n static %}
  <!--=== Projects Start ===-->
  <section class="white-bg pb-0" id="projects">
  	<div class="container-fluid">
    	<div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Projects</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Innovative Works -</h4>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="portfolio-container text-center">
          <ul id="portfolio-filter" class="list-inline filter-transparent wow fadeTop" data-wow-delay="0.1s">
            <li class="active" data-group="all">All</li>
            <li data-group="ongoing">Ongoing</li>
            <li data-group="completed">Completed</li>
          </ul>
          <ul id="portfolio-grid" class="three-column hover-two">
            {% for project in projects %}
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.1s" data-groups='["all", "{{project.status}}"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="{{project.image.url}}" alt="{{project.name}}">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">{{project.name}}</h3>
                    <p class="links">{{project.site}}</p>
                    <p class="links">{{project.location}}</p>
                   <!--{#  <a href="{% url 'projects' %}" class="links">Print Design</a> #} -->
                  </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="{{project.image.url}}"><i class="fa fa-search"></i></a></li>
                    <li><a href="{% url 'projects' %}"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            {% endfor %}
          </ul>
          <a class="btn btn-color btn-circle btn-animate mt-10 mb-10" href="/projects"><span>View all project at once <i class="mdi mdi-arrow-right"></i></span></a>
        </div>
      </div>
    </div>
  </section>
  <!--=== Project End ===-->