{% load i18n static %}
  <!--=== What We Offer Start ===-->
  <section class=" pb-0" id="services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Services <span class="theme-color">We offer</span></h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Our consulting services cover the wide range of services like development, management, design, drawings and business planning. -</h4>
        </div>
      </div>
    </div>
    <section class="pt-10">
    <div class="col-md-6 col-sm-4 col-md-offset-7 col-sm-offset-5 bg-flex bg-flex-right ">
      <div class="bg-flex-holder bg-flex-cover parallax-effect" style="background-image: url({% static 'images/3.png' %});"></div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-7 ">
        <div class="pb-10">
          <div class=" wow fadeTop text-justify" data-wow-delay="0.3s">
            <p>We provide technically sound by working with and understanding our clients, by pushing boundaries, and by thinking laterally to find connections that others fail to make. We encourage teamwork and deliver to the best of our services, working as one firm by providing cost effective, economically viable, environmentally and socially acceptable solutions to our clients.</p>
            <p> Our core expertise is to provide interdisciplinary services that deliver sustainable solutions and knowledge. </p>
            <p>
              <ul style="margin-left:25px;">
              <li>Finding the best waste collection, transportation and treatment solution.</li>
              <li>Provide information about the latest waste-management technologies and methods.</li>
              <li>Planning, design and implementation.</li>
              <li>Assistance with operation, maintenance, upgrading and optimization.</li>
              <li>Strategic planning for siting, resource and management.</li>
              <li>Sanitary Landfill and scientific closure.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    </section>
  </section>
  <!--=== What We Offer End ===-->