{% load i18n static %}
  <!--=== Flex Slider Start ===-->
  <section class="pt-0 pb-0" id="home">
    <div class="slider-bg flexslider">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/Azyro-Solid-Waste-Management-In-India-Slide-1.jpeg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5 hidden-sm hidden-xs">We value your waste</h2>
                <h1 class="white-color text-uppercase font-700"><span class="theme-color">AZYRO</span> INFRATECH</h1>
                <h3 class="white-color font-400">Delivering complete Integrated Waste Management solutions to our clients</h3>
                <p class="text-center mt-30"><a class="btn btn-white btn-circle btn-animate page-scroll" href="#who"><span>Know more about us <i class="mdi mdi-arrow-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/Azyro-Solid-Waste-Management-In-India-Slide-2.jpeg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5">We create value from your waste &amp;</h2>
                <h1 class="white-color text-uppercase font-700"><span class="theme-color">Zero waste</span> Lifestyle</h1>
                <p class="text-center mt-30"><a class="btn btn-dark btn-circle btn-animate page-scroll"href="#need"><span>Learn More <i class="mdi mdi-arrow-right"></i></span></a> <a class="btn btn-outline-white btn-circle page-scroll"href="#contact">Contact Us</a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 3 ===-->
        <li>
          <div class="slide-img parallax-effect" style="background:url({% static 'images/slides/Azyro-Solid-Waste-Management-In-India-Slide-3.jpeg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color text-uppercase font-400 letter-spacing-5">Minimal</h2>
                <h1 class="white-color text-uppercase font-700">Clean &amp; Simple</h1>
                <h3 class="white-color font-400">We love the web and the work we do.</h3>
                <p class="text-center mt-30"><a class="btn btn-color btn-circle page-scroll"href="#projects">See Our Work</a> </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--=== Flex Slider End ===-->