{% load i18n static %}
  <!--=== Who We Are Start ===-->
  <section class="first-ico-box white-bg pb-20" id="who">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s"><span class="theme-color">We are</span> Azyro</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We value your waste -</h4>
        </div>
      </div>
    </div>
    <section class="white-bg pt-10 pb-10 ">
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-left ">
      <div class="bg-flex-holder bg-flex-cover parallax-effect" style="background-image: url({% static 'images/4.jpg' %});"></div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
        <div class="pb-10">
          <div class=" wow fadeTop text-justify" data-wow-delay="0.3s">
            <p>Azyro Infratech is one of the leading consultant in the field of Solid Waste Management, Sustainability, Renewable Energy, Engineering & Design, Sanitation and Waste Water Sector. We look for opportunities to reduce environmental effects through our operations and support activities that promote protection of human health and a sustainable global environment. </p>
            <p>Our aim is to work with clients by understanding their business objectives and needs and addresstheir challenges. In doing so, we seek to use our ingenuity to deliver lasting value for all: for our customers, for our people, and for the communities we work in.</p>
            <p>We constantly adapt from the changing scenario of the world, ambitions of our governments and the need of our growing society and communities for a better quality of life.</p>
            <p>We believe in the <span class="theme-color">strategy of 4R system</span> for effective Waste Management System.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div class="container-fluid">
      <div class="row mt-30">
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.1s"> <i class="mdi mdi-arrow-compress-all mdi-spin font-50px dark-icon wow spinRightZoom"></i>
          <h4 class="text-uppercase">Reduce</h4>
          <p>Wherever possible, waste reduction is the preferable option.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.2s"> <i class="mdi mdi-sync mdi-spin font-50px dark-icon wow spinLeftZoom"></i>
          <h4 class="text-uppercase">REUSE</h4>
          <p>If waste is produced, every effort should be made to reuse it if practicable.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.3s"> <i class="mdi mdi-recycle mdi-spin font-50px dark-icon wow spinRightZoom"></i>
          <h4 class="text-uppercase">RECYCLE</h4>
          <p>Recycling should only be considered for waste which cannot be reduced or reused.</p>
        </div>
        <div class="col-md-3 feature-box text-center wow fadeInRight" data-wow-delay="0.4s"> <i class="mdi mdi-spin mdi-backup-restore font-50px dark-icon wow spinLeftZoom"></i>
          <h4 class="text-uppercase">RECOVER</h4>
          <p>Finally, it may be possible to recover materials or energy from waste which cannot be reduced, reused or recycled.</p>
        </div>
      </div>
    </div>
  </section>
  <!--=== Who We Are End ===-->